.list-car {
  span {
    &.tm-new {
      width: 50px;
      padding: 2.5px 0;
      text-align: center;
      background: #00b43e;
      color: #fff;
      border-radius: 2px;
      position: absolute;
      left: 20px;
      top: 20px;
    }
    &.tm-price {
      width: 100px;
      padding: 2.5px 0;
      text-align: center;
      background: #ff383e;
      color: #fff;
      border-radius: 2px;
      position: absolute;
      right: 20px;
      top: 20px;
    }
  }
  .slick-list {
    margin: 0 -15px;
  }
  ul li {
    text-align: center;
  }
  .detail {
    padding: 20px;
    border-left: 1px solid $color-border;
    border-right: 1px solid $color-border;
    position: relative;
    margin-bottom: 30px;
    background: #fff;
    &:after {
      content: '';
      border-bottom: 1px solid $color-border;
      height: 1px;
      display: block;
      position: absolute;
      left: 20px;
      right: 20px;
      bottom: 0px;
    }
  }
  a.img {
    display: block;
    height: 180px;
    line-height: 180px;
    vertical-align: middle;
  }
  h3 {
    margin: 10px 0 5px;
    text-transform: uppercase;
    height: 40px;
    overflow: hidden;
    a {
      font: 500 15px/20px  $font-family, sans-serif;
      color: #2c2c2c;
      &:hover {
        color: #00b43e;
      }
    }
  }
  span {
    font: 400 14px/20px  $font-family, sans-serif;
    color: #555;
    display: block;
    margin-bottom: 5px;
  }
  p span {
    display: inline-block;
    &.out-pr {
      text-decoration: line-through;
      margin-right: 15px;
    }
  }
  .view-all {
    font: 400 14px/20px $font-family, sans-serif;
    color: #555;
    display: inline-block;
  }
}