<footer class="footer-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item-block">
        <ul class="list-menu-footer">
          <span class="name-primary"><span class="icon-item icon-info"></span> Infomation</span>    
          <li class="item">
            <a href="#">Infomation</a>
          </li>
          <li class="item">
            <a href="#">Infomation</a>
          </li>
          <li class="item">
            <a href="#">Infomation</a>
          </li>
          <li class="item">
            <a href="#">Infomation </a>
          </li>
          <li class="item">
            <a href="#">Infomation</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item-block">
        <ul class="list-menu-footer">
          <span class="name-primary"> <span class="icon-item icon-motorcycle"></span> Cho thuê xe</span>    
          <li class="item">
            <a href="#">Cho thuê xe</a>
          </li>
          <li class="item">
            <a href="#">Cho thuê xe</a>
          </li>
          <li class="item">
            <a href="#">Cho thuê xe</a>
          </li>
          <li class="item">
            <a href="#">Cho thuê xe </a>
          </li>
          <li class="item">
            <a href="#">Cho thuê xe</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item-block">
        <ul class="list-menu-footer">
          <span class="name-primary"> <span class="icon-item icon-car-compact"></span> Document</span>    
          <li class="item">
            <a href="#">Document 1</a>
          </li>
          <li class="item">
            <a href="#">Document 2</a>
          </li>
          <li class="item">
            <a href="#">Document 3</a>
          </li>
          <li class="item">
            <a href="#">Document 4</a>
          </li>
          <li class="item">
            <a href="#">Document 5</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item-block">
        <ul class="list-menu-footer">
          <span class="name-primary"><span class="icon-item icon-car-compact"></span> Contact US</span>    
          <li class="item">
            <a href="#">Contact 1</a>
          </li>
          <li class="item">
            <a href="#">Contact 2</a>
          </li>
          <li class="item">
            <a href="#">Contact 3</a>
          </li>
          <li class="item">
            <a href="#">Contact 4</a>
          </li>
          <li class="item">
            <a href="#">Contact 5</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</footer>