<header class="header-container">
  <div class="header-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 align-self-center">
          <a class="logo" href="#" title="">
            <img class="align-self-center" src="./images/logo.png" width="120px" alt="logo">
          </a>
        </div>
        <div class="col-sm-6 align-self-center d-none d-lg-block">
          <h2 class="name-company">Công ty du lịch Khải Hoàn Phú</h2>
        </div>
        <div class="col-sm-3 align-self-center d-none d-lg-block">
          <p class="hotline">
            <a class="phone-item" href="tel:05113759759">05113 759 759</a>
            <a class="phone-item" href="tel:0913441156">0913 44 11 56</a>
          </p>
        </div>
        <button id="menu"><span></span></button>
      </div>
    </div>
    <!-- menu -->
    <div class="p-menu">
        <div class="container">
          <nav id="drop_down" class="menu-menu-1-container">
            <ul id="menu-menu-1" class="lh2-ul">
              <li class="menu-item"><a class="link-menu" href="#">Trang chủ</a></li>
              <li class="menu-item">
                <a class="link-menu" href="#">Cho thuê xe du lịch tự lái</a>
                <ul class="sub-menu">
                  <li class="menu-item"><a class="link-menu" href="#">Menu Item 01</a></li>
                  <li class="menu-item"><a class="link-menu" href="#">Menu Item 02</a></li>
                  <li class="menu-item"><a class="link-menu" href="#">Menu Item 03</a></li>
                  <li class="menu-item"><a class="link-menu" href="#">Menu Item 04</a></li>
                </ul>
              </li>
              <li class="menu-item">
                <a class="link-menu" href="#">Tour</a>
                <ul class="sub-menu">
                  <li class="menu-item"><a class="link-menu" href="#">Menu Item 01</a></li>
                  <li class="menu-item"><a class="link-menu" href="#">Menu Item 02</a></li>
                  <li class="menu-item"><a class="link-menu" href="#">Menu Item 03</a></li>
                  <li class="menu-item"><a class="link-menu" href="#">Menu Item 04</a></li>
                </ul>
              </li>
              <li class="menu-item">
                <a class="link-menu" href="#">Khách sạn</a>
                <ul class="sub-menu">
                  <li class="menu-item"><a class="link-menu" href="#">Menu Item 01</a></li>
                  <li class="menu-item"><a class="link-menu" href="#">Menu Item 02</a></li>
                  <li class="menu-item"><a class="link-menu" href="#">Menu Item 03</a></li>
                  <li class="menu-item"><a class="link-menu" href="#">Menu Item 04</a></li>
                </ul>
              </li>
              <li class="menu-item">
                <a class="link-menu" href="#">Bảng giá</a>
                <ul class="sub-menu">
                  <li class="menu-item"><a class="link-menu" href="#">Menu Item 01</a></li>
                  <li class="menu-item"><a class="link-menu" href="#">Menu Item 02</a></li>
                  <li class="menu-item"><a class="link-menu" href="#">Menu Item 03</a></li>
                  <li class="menu-item"><a class="link-menu" href="#">Menu Item 04</a></li>
                </ul>
              </li>
              <li class="menu-item">
                <a class="link-menu" href="#">Tin Tức</a>
                <ul class="sub-menu">
                  <li class="menu-item"><a class="link-menu" href="#">Menu Item 01</a></li>
                  <li class="menu-item"><a class="link-menu" href="#">Menu Item 02</a></li>
                  <li class="menu-item"><a class="link-menu" href="#">Menu Item 03</a></li>
                  <li class="menu-item"><a class="link-menu" href="#">Menu Item 04</a></li>
                </ul>
              </li>
              <li class="menu-item">
                <a class="link-menu" href="#">Liên Hệ</a>
                <ul class="sub-menu">
                  <li class="menu-item"><a class="link-menu" href="#">Menu Item 01</a></li>
                  <li class="menu-item"><a class="link-menu" href="#">Menu Item 02</a></li>
                  <li class="menu-item"><a class="link-menu" href="#">Menu Item 03</a></li>
                  <li class="menu-item"><a class="link-menu" href="#">Menu Item 04</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
    </div>
  </div>
  <!-- header -->
</header>