.container-block {
  @include rem("padding", 30, 0, 30, 0);
}

@media (max-width: 1024px) {
  .container {
    max-width: calc(100% - 30px);
  }
}

a:hover, a:focus{
  color: $color-primary !important;
}