// ----------------------------------------------------------------------
// Color
// ----------------------------------------------------------------------
$color-primary: #6e0d04;
$color-red: #ff1327;
$color-white: #fff;
$color-blue: #032843;
$color-text: #000;
// ----------------------------------------------------------------------
// Background
// ----------------------------------------------------------------------
$bg-white: #fff;
// ----------------------------------------------------------------------
// Font-face
// ----------------------------------------------------------------------
$font-family: 'Roboto';
$font-icon: 'icomoon' !important;

.background-primary {
  background-color: $color-primary;
}

.background-blue {
  background-color: $color-blue;
}